.membrete{

}

.organizar{
    color: #4285F4;
}

.informacion{
    color: #EA4335;
}

.todos{
    color: #34A853;
}

.usarla{
    color: #E37400;
}

.organizar{
    font-family: ;
}

.organizar{
    text-align: center;
}

.trabaja{
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    border-radius: 15px;
    width: 500px;
}

.ubicaciones{
    border-style:solid ;


}

.comunicate{
    border-style: solid;


}